.background-container{
    background-image: url('../assets/Einstein4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 96vh;
}

.info-box{
    display: flex;
}

.info{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}